.PopUpTitleWrapper {
}

.title {
    font-family: Apexnewweb, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    animation-duration: 1s;
    position: relative;
}

.divider {
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 20px;
    left: 0;
    background-color: #d7d5d5;
    transform-origin: bottom left;
    transition: transform 0.7s ease-out;
}

.text {
    position: absolute;
    bottom: -30px;
    left: 0;
    margin-top: 10px;
    font-family: Apexnewweb, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
    animation-duration: 1s;
}

.titleBtn {
    position: absolute;
    left: 0;
    background-color: transparent;
    animation-duration: 1s;
    display: flex;
    padding: 5px 10px;
    border: 1px solid #FFFFFF7F;
    color: #fff;
    font-size: 12px;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
