.mobileMenuContainer{
    background: rgb(242,116,116);
    background: linear-gradient(310deg, rgba(242,116,116,1) 37%, rgba(255,0,0,1) 94%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.linksWrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.menuLink{
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    font-family: 'Apexnewweb book',sans-serif;
    color: #fff;
    font-weight: 300;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
}
@media (max-width: 550px) {
    .menuLink{
        font-size: 28px;
        line-height: 36px;
    }
}

