.myVideo {
    object-fit: cover;
    height: 100%;
    width: 100%;
    float: left;
    padding: 0;
    position: relative;
}
.videoTitle{
    position: absolute;
    bottom: 80px;
    left: 40px;
    width: 250px;
}
