.admin_home{
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.linksWrapper{
   padding-top: 10px;
   padding-bottom: 10px;
   display: flex;
   justify-content: center;
   gap: 20px;
   align-items: center;
}
.contentWrapper{
   max-width: 1450px;
   width: 100%;
   /*border-: 2px solid green;*/
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
}

.projectTitleWrapper{
   max-width: 45%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;

}
.projectWrapper{
   width: 100%;
}
.projectTitle{
   margin-top: 0;
   max-width: 70%;
   width: 100%;
   font-family: Nunito, sans-serif;
   font-size: 16px;
   line-height: 22px;
   letter-spacing: 0;
   text-transform: none;
   color: #100a0a;
   align-self: center;
   text-align: center;
   cursor: pointer;
}
